.popup{
    visibility: hidden;
    display: flex;
    width: 100%;
    height: 100vh;
    position:fixed;
    inset: 0;
    background: rgba(0,0,0,.8);
    justify-content: center;
    align-items: center;
}
.popup__block{
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: ghostwhite;
    border-radius: 10px;
    width:50vw;
    padding:30px;
}
.popup__open {
  visibility: visible;
  z-index: 1;
}
.popup__close{
    position: absolute;
    top: -25px;
    right: -35px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 99999;
    background-image: url(../images/Close\ Icon.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 35px;
}

.popup__close:hover {
    opacity: 0.6;
}

.popup__content_content_image{
    margin: 0;
    padding: 0;
    width: auto;
    background: none;
    border-radius: 0;
}

.popup__image {
    display: flex;
    max-width: 75vw;
    max-height: 75vh;
}
.infoTooltip__text{
    justify-self: center;
}
.infoTooltip__image{
    background-repeat: no-repeat;
    background-size: cover;
    justify-self: center;
    height: 270px;
    width: 270px;
}
.infoTooltip__image_success{
    background-image: url('../images/sucessSign.png');
}
.infoTooltip__image_error{
    background-image: url('../images/failSign.png');
}