.sign{
    margin:0;
    height: 100%;
}
.sign__form{
    margin: 80px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sign__fieldset{
    margin:0;
    border: none;
    display: flex;
    flex-direction: column;
}
.sign__title{
    size: 10vw;
}
.sign__input{
    background: none;
    border:none;
    border-bottom: 1px solid ghostwhite;
    margin: 20px 0;
    color:grey;
}
.sign__button{
    padding: 10px 0;
    margin-top: auto;
}
.sign__button:hover{
    opacity: .7;
}
